#######################################
# Секреты #
#######################################
storage/private/
config.local.php
.htaccess

#######################################
# ENV
#######################################
.env
.env.*

#######################################
# Runtime файлы
#######################################
uploads/*
!uploads/.gitkeep

storage/*
!storage/.gitkeep
!storage/private/

vendor/
composer.phar

#######################################
# Логи
#######################################
*.log
deploy.log
delpoy.php
deploy.sh

#######################################
# OS / Editor мусор
#######################################
.DS_Store
Thumbs.db
*.swp
*.swo
*~

#######################################
# Конфликты
#######################################
*.orig