#######################################
# Секреты (ГЛАВНОЕ)
#######################################
storage/private/
config.local.php

#######################################
# ENV (если используешь)
#######################################
.env
.env.*

#######################################
# Runtime файлы (загрузки пользователей)
#######################################
uploads/*
!uploads/.gitkeep

storage/*
!storage/.gitkeep
!storage/private/

#######################################
# Логи
#######################################
*.log
deploy.log

#######################################
# OS / Editor мусор
#######################################
.DS_Store
Thumbs.db
*.swp
*.swo
*~

#######################################
# Конфликты
#######################################
*.orig
